#container{
  background-color: #E6E4CE;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.main-content{
  background-color: #E6E4CE;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hidden{
  visibility: hidden;
}
.score{
  text-align: center;
}